/* 淡入淡出 */
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s;
}

.fade-move {
  transition: all 0.25s;
}

.fade-leave-active {
  position: absolute;
}

/* 侧边栏出场 */
.sidebar-enter {
  opacity: 0;
  transform: translateX(50px);
}

.sidebar-leave-to {
  opacity: 0;
}

.sidebar-leave-active,
.sidebar-enter-active {
  transition: all 0.25s;
}

/* 侧边栏切换路由 */
.sidebar_router-enter {
  opacity: 0;
  transform: translateY(50px);
}

.sidebar_router-leave-to {
  opacity: 0;
}

.sidebar_router-leave-active,
.sidebar_router-enter-active {
  transition: all 0.25s;
}
