/* 背景色 */
.bg-black {
  background-color: var(--black);
}

.bg-red {
  background-color: var(--red);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-green {
  background-color: var(--green);
}

.bg-cyan {
  background-color: var(--cyan);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-pink {
  background-color: var(--pink);
}

/* 鼠标样式 */
.cursor-default {
  cursor: url('../../assets/icon/cur/default.png'), auto;
}
.cursor-pointer {
  cursor: url('../../assets/icon/cur/pointer.png'), auto;
}
.cursor-not-allowed {
  cursor: url('../../assets/icon/cur/not-allowed.png'), auto;
}

/* 溢出省略号显示单行 */
.lyb-one-line {
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 溢出省略号显示多行 */
.lyb-two-line,
.lyb-three-line {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lyb-two-line {
  -webkit-line-clamp: 2;
}

.lyb-three-line {
  -webkit-line-clamp: 3;
}

/* 按钮必加 */
.lyb-button {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

/* 布局 */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
