@font-face {
  font-family: '方正正准黑';
  src: url('../../assets/font/方正正准黑简体.ttf');
}

* {
  font-family: '方正正准黑';
  cursor: url('../../assets/icons/cur/default.png'), auto;
}


body {
  width: 100vw;
  height: 100vh;
  background: url('@/assets/img/bg.png') no-repeat center fixed;
  background-image: url('@/assets/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}