/* 溢出省略号显示单行 */
.lyb-one-line {
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 溢出省略号显示多行 */
.lyb-two-line,
.lyb-three-line {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lyb-two-line {
  -webkit-line-clamp: 2;
}

.lyb-three-line {
  -webkit-line-clamp: 3;
}

/* 按钮必加 */
.lyb-button {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}